<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>简易计算器</title>
    <script type="text/javascript" src="../../lib/js/vue.js"></script>
</head>
<body>

<div id="app">
    <input type="text" v-model="n1">

    <select v-model="opt">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select>

    <input type="text" v-model="n2">

    <button @click="cal">=</button>

    <input type="text" v-model="result">

</div>

<script>
    let vm = new Vue({
        el:"#app",
        data:{
            n1:0,
            n2:0,
            result:0,
            opt:"+"
        },
        methods:{
            // cal(){
            //     // 逻辑是拿到值，判断操作符
            //     switch (this.opt) {
            //         case "+":
            //             this.result = parseInt(this.n1) + parseInt(this.n2);
            //             break;
            //         case "-":
            //             this.result = parseInt(this.n1) - parseInt(this.n2);
            //             break;
            //         case "*":
            //             this.result = parseInt(this.n1) * parseInt(this.n2);
            //             break;
            //         case "/":
            //             this.result = parseInt(this.n1) / parseInt(this.n2);
            //             break;
            //         default:
            //             break;
            //     }
            // }
            cal(){
                let codeStr = 'parseInt(this.n1)' + this.opt + 'parseInt(this.n2)';
                // eval回解析字符串变成可以执行的代码
                this.result= eval(codeStr);
            }
        }
    })
</script>
</body>
</html>